.idea
.vscode/*
!.vscode/extensions.json
nbproject
.buildpath
.project
.settings
Thumbs.db
#vendor
composer.phar
.DS_Store
phpunit.phar
phpunit.xml
.phpunit.result.cache
c3.php
tests/Support/Data/database.db_snapshot
.env
.env.dev*
tmp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
#dist
dist-ssr
#build
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.phpe
/php/modules/user_permission/
/php/modules/chat_statistic_single/
/php/modules/custom_brand/
/php/modules/archive_staff/
